@font-face {
   font-family: 'Nohemi-VF';
   font-display: swap;
   src: url('file:///Users/jun/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-04-19_233812/fonts/Nohemi-VF/font.ttf');
}
